pandas
python-dotenv
ipykernel
openai
google-generativeai
langchain
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-groq
langchain-community
langchain-chroma
nbformat
kagglehub
gradio
unstructured
markdown
pypdf
pymupdf
jq
scikit-learn
gdown
deepeval
redis
htmltabletomd
pdfminer.six
pi-heif
unstructured[local-inference]
ipywidgets